name: homebridge
services:

  homebridge:
    container_name: homebridge
    image: homebridge/homebridge:latest
    restart: always
    network_mode: host
    volumes:
      - homebridge:/homebridge
    environment:
      - TZ=America/Los_Angeles
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"

# External volume must be created manually before starting the container:
# docker volume create homebridge
volumes:
  homebridge:
    external: true
