name: ghost
services:

  ghost-server:
    container_name: ghost-server
    image: ghost:6
    cap_add:
      - CAP_SYS_NICE
    restart: always
    depends_on:
      - ghost-db
      - ghost-tunnel
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    environment:
      url: ${DOMAIN}
      database__client: mysql
      database__connection__host: ghost-db
      database__connection__user: root
      database__connection__password: ${DB_PASSWORD}
      database__connection__database: ghost
      mail__transport: SMTP 
      mail__from: ${POSTMASTER}
      mail__options__host: smtp.mailgun.org
      mail__options__port: 465
      mail__options__secure: true 
      mail__options__auth__user: ${POSTMASTER}
      mail__options__auth__pass: ${SMTP_PASSWORD}
    volumes:
      - ghost-content:/var/lib/ghost/content
    networks:
      - ghost

  ghost-db:
    container_name: ghost-db
    image: mysql:8
    restart: always
    command: --mysql-native-password=ON
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ghost-db:/var/lib/mysql
    networks:
      - ghost

  ghost-tunnel:
    container_name: ghost-tunnel
    image: cloudflare/cloudflared
    restart: always
    command: tunnel --no-autoupdate run
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    networks:
      - ghost

  ghost-posse:
    container_name: ghost-posse
    image: wpowiertowski/posse:latest
    restart: always
    command: poetry run posse
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    volumes:
      - ./config.yml:/app/config.yml:ro
    secrets:
      - pushover_app_token
      - pushover_user_key
      - mastodon_personal_access_token
      - mastodon_behindtheviewfinder_access_token 
      - bluesky_personal_app_password
      - bluesky_behindtheviewfinder_app_password 
    networks:
      - ghost

volumes:
  ghost-db:
    external: true
  ghost-content:
    external: true

networks:
  ghost:
    external: true

secrets:
  pushover_app_token:
    file: ./secrets/pushover_app_token.txt
  pushover_user_key:
    file: ./secrets/pushover_user_key.txt
  mastodon_personal_access_token:
    file: ./secrets/mastodon_personal_access_token.txt
  mastodon_behindtheviewfinder_access_token:
    file: ./secrets/mastodon_behindtheviewfinder_access_token.txt
  bluesky_personal_app_password:
    file: ./secrets/bluesky_personal_app_password.txt
  bluesky_behindtheviewfinder_app_password:
    file: ./secrets/bluesky_behindtheviewfinder_app_password.txt
